@use '../../../styles/mixins' as *;

.advantageSectionContainer {
  background: url('../../../assets/images/leaves.jpg') no-repeat center center;
  width: 100%;
  background-size: cover;
  min-height: 32rem;
}

.advantageSectionContent {
  @include container;
  padding-top: 3rem;
}

@media (max-width: 768px) {
  .advantageSectionContent {
    padding-top: 2rem;
  }
}
