:root {
  --primary-color: #6d8777;
  --hover-color: #45624e;
  --text-color: #333;
  --logo-color: #222;
}

body.light {
  --background-color: #f5f5f5;
  --text-color: #333;
  --logo-color: #222;
  --link-color: #555;
  --button-text-color: #fff;
  --form-text: #fff;
}

body.dark {
  --background-color: #333;
  --text-color: #f5f5f5;
  --logo-color: #ddd;
  --link-color: #ddd;
  --button-text-color: #ddd;
  --form-text: #555;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
