@import '../../../styles/variables';
@import '../../../styles/mixins';

.contactContainer {
  background: url('../../../assets/images/bg-1.jpg') no-repeat center center;
  width: 100%;
  background-size: cover;
  min-height: 32rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.contactContent {
  @include container;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.contactMessage,
.contactInput {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.contactInput {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .contactContent {
    flex-direction: column;
    gap: 2rem;
  }
}
