@import '../../../styles/variables';
@import '../../../styles/mixins';

.contactContainer {
  background: var(--color-light);
  min-height: 32rem;
  padding-block: 2rem;
  background: url("../../../assets/images/bg-send.jpg") center 38%;
  background-size: cover;
}

.contactForm {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contactTitle {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  color: var(--color-description);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.contactInput {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 768px) {
  .contactForm {
    grid-template-columns: 1fr;
  }
}
