.section {
  padding: 4rem 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  text-align: center;
}

.descriptionText {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--link-color);
}

.textWrapper {
  flex: 1;
  min-width: 280px;
  max-width: 45%;
  text-align: justify;

  @media (max-width: 1024px) {
    max-width: 48%;
  }

  @media (max-width: 768px) {
    max-width: 90%;
    text-align: left;
  }
}

.imageGrid {
  display: grid;
  gap: 1rem;
  flex: 1;
}

.topImages {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.bottomImages {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 8px;
  transition:
    filter 0.3s ease,
    box-shadow 0.3s ease;
  filter: brightness(0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: cover;

  &:hover {
    filter: brightness(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

.topImages .image {
  width: 50%;
}

.bottomImages .image {
  width: calc(50% * 2 + 1rem);
}

@media (max-width: 1024px) {
  .topImages {
    flex-direction: column;
    align-items: center;
  }

  .topImages .image {
    width: 100%;
  }

  .bottomImages .image {
    width: 100%;
  }
}
