.blogDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.blogTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blogImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.blogDate {
  font-size: 0.9rem;
  color: gray;
}

.blogDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  margin-top: 1rem;
}

.backButton {
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 1rem;
}

.backButton:hover {
  background-color: var(--hover-color);
}
