@import '../../../styles/variables';
@import '../../../styles/mixins';

.hotelSectionContainer {
  background: var(--color-light);
  min-height: 100vh;
}

.hotelSectionText {
  position: relative;
  padding-inline: 1rem;

  .prevBtn {
    left: -2.5rem;
  }

  .nextBtn {
    right: -2.5rem;
  }

  @media (max-width: 768px) {
    .prevBtn {
      left: -1rem;
    }
    .nextBtn {
      right: -1rem;
    }
  }
}
