@import '../../../styles/variables';
@import '../../../styles/mixins';

.hotelSectionContainer {
  background: var(--color-light);
  min-height: 100vh;
  margin-top: 6rem;
}

.hotelSectionContent{
  @include container;
}

.hotelSectionText {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 32px;
}
