@use '../styles/variables' as *;

@mixin container {
  max-width: $container-width;
  width: 100%;
  padding-inline: $container-spacing;
  margin: 0 auto;
}

@mixin button-base {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  min-width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.3s ease;

  .arrow-icon {
    transition: transform 0.3s ease;
  }

  &:active {
    transform: scale(0.97);
  }

  @media (max-width: 768px) {
    min-width: 8rem;
  }
}

.homeBtn {
  @include button-base;
  background-color: var(--color-purple);
  color: var(--color-light);
  box-shadow: $box-shadow;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    background: radial-gradient(
      circle,
      var(--color-purple-hover) 0%,
      transparent 70%
    );
    transition:
      width 0.6s ease,
      height 0.6s ease;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }

  &:hover::before {
    width: 250%;
    height: 250%;
  }

  span,
  .arrow-icon {
    position: relative;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 8px 20px rgba(124, 58, 237, 0.4);

    .arrow-icon {
      transform: translateX(6px) scale(1.1);
    }
  }
}

.backBtn {
  @include button-base;
  background-color: transparent;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
  margin-top: 1rem;

  &:hover {
    color: var(--color-purple-hover);
    border-color: var(--color-purple-hover);
    box-shadow: 0 0 12px rgba(124, 58, 237, 0.4);

    .arrow-icon {
      transform: translateX(-6px) scale(1.1);
    }
  }
}
