:root {
  --color-light: #f9fafb;
  --color-light-hover: #f3f4f6;

  --color-purple: #7c3aed;
  --color-purple-hover: #6d28d9;

  --color-dark: #111827;
  --color-dark-hover: #1f2937;
}

$font-main: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;
$font-size: 1rem;

$container-width: 75rem;
$container-spacing: 1.25rem;
$header-height: 5rem;
$footer-height: 10rem;

$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

//body.light {
//  --background-color: #f5f5f5;
//  --text-color: #333;
//  --logo-color: #222;
//  --link-color: #555;
//  --button-text-color: #fff;
//  --form-text: #fff;
//}
//
//body.dark {
//  --background-color: #333;
//  --text-color: #f5f5f5;
//  --logo-color: #ddd;
//  --link-color: #ddd;
//  --button-text-color: #ddd;
//  --form-text: #555;
//}
//
//body {
//  background-color: var(--background-color);
//  color: var(--text-color);
//  transition: background-color 0.3s ease,
//  color 0.3s ease;
//}
