:root {
  --color-light: #f9fafb;
  --color-light-hover: #f3f4f6;

  --color-purple: #7c3aed;
  --color-purple-hover: #6d28d9;

  --color-dark: #111827;
  --color-dark-hover: #1f2937;

  --color-error: #e74c3c;
  --color-stars:  #ffc107;
}

$font-main: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;
$font-size: 1rem;

$container-width: 75rem;
$container-spacing: 1.25rem;
$header-height: 5rem;
$footer-height: 10rem;

$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
