.accordionItem {
  width: 100%;
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  color: var(--color-purple);
}

.chevron {
  display: none;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .accordionHeader {
    font-size: 1rem;
    align-items: center;
    text-align: left;
  }

  .chevron {
    display: inline-block;
  }
  .content {
    display: none;
    width: 100%;
  }

  .content.open {
    display: flex;
  }
}
