.accordionItem {
  width: 100%;
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.chevron {
  display: none;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .chevron {
    display: inline-block;
  }
  .content {
    display: none;
  }
}
