@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.homeBg {
  background: url('../../assets/images/bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;

  @media (max-width: 768px) {
    background-attachment: fixed;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.homeContainer {
  @include container;
}

.homeContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;

  max-width: 42rem;
  width: 100%;
  min-height: calc(100vh - $header-height);
}

.homeTitle {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.homeDescription {
  max-width: 28rem;
  width: 100%;
  font-size: $font-size-description;
  margin-bottom: 3rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .homeTitle {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .homeDescription {
    font-size: $font-size-base;
    margin-bottom: 2.2rem;
  }
}
