@import '../../../styles/variables';
@import '../../../styles/mixins';

.reviewsSectionContainer {
  background-color: var(--color-light);
  width: 100%;
}

.reviewsSectionContent {
  @include container;
  padding-block: 3rem;
}

.reviewsSectionSwiper {
  position: relative;

  .prevBtn {
    left: -2.5rem;
  }

  .nextBtn {
    right: -2.5rem;
  }

  @media (max-width: 768px) {
    .prevBtn {
      left: -1rem;
    }

    .nextBtn {
      right: -1rem;
    }
    .prevBtn,
    .nextBtn {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}
