@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  background-color: var(--color-dark);
}

.footerContainer {
  @include container;
  display: flex;
  justify-content: space-between;
  height: $footer-height;
  padding-block: 2rem;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerLogo {
  color: var(--color-purple);
  text-transform: uppercase;
}

.footerSocialLinks {
  display: flex;
  gap: 1rem;
}

.footerSocialIcons {
  font-size: 2rem;

  &:hover {
    color: var(--color-purple);
  }
}

.footerLink {
  &:hover {
    color: var(--color-purple);
  }
}

.footerIcons {
  color: var(--color-purple);
}

.footerSocialLink {
  display: flex;
  gap: 1rem;
}

.footerSocialLink:hover {
  color: var(--color-purple);
}

.footerIcon {
  color: var(--color-purple);
  font-size: 1.25rem;
}

.copy {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    gap: 1rem;
  }
}
