@import '../../../styles/variables';
@import '../../../styles/mixins';

.hotelDetails {
  background: var(--color-light);
  padding-block: 2rem;
}

.hotelBox {
  @include container;
}
.hotelContainer {
  background: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 1rem;
}

.hotelImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotelImage {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

.hotelContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-dark);
}

.hotelTitle {
  font-size: 2rem;
}

.hotelRating {
  font-size: 1.2rem;
  color: var(--color-stars);
}

.hotelAddress {
  font-size: 1rem;
  color: var(--color-description);
  margin-bottom: 1rem;
}

.hotelDescription {
  font-size: 1.2rem;
}

.hotelAmenities {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  li {
    background: var(--color-purple-bg);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    color: var(--color-purple-hover);
  }
}

.hotelBook {
  display: flex;
  justify-content: space-between;
}

.hotelPrice {
  font-size: 1.2rem;
  color: var(--color-dark);
}

.hotelBtn {
  font-size: 1.125rem;
  color: var(--color-purple);
  margin-bottom: 1rem; ;
}
