@import '../../styles/variables';
@import '../../styles/mixins';

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30rem;
  background: var(--color-light);
}

.map {
  @include container;
  display: block;
}

.mapLink {
}
