.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  background-color: var(--background-color);
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-block: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}


.images {
  width: 50%;
  max-width: 500px;
  height: 300px;
  border-radius: 8px;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  filter: brightness(0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.images:hover {
  filter: brightness(1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.textContainer {
  flex: 1;
  min-width: 320px;
  max-width: 50%;
  padding: 10px;
}

.cardTitle {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--text-color);
}

.cardDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--link-color);
  margin-bottom: 15px;
}

.date {
  font-size: 0.9rem;
  color: var(--link-color);
  margin-bottom: 20px;
}

.btn {
  border: none;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 1024px) {
  .card {
    gap: 20px;
  }

  .images {
    width: 48%;
    max-width: 400px;
    height: 250px;
  }

  .textContainer {
    max-width: 48%;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }
  .images {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .textContainer {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .cardTitle {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .cardDescription {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 480px) {
  .cardsWrapper {
    padding: 20px 10px;
  }
  .card {
    flex-direction: column;
    gap: 10px;
  }

  .images {
    width: 100%;
    max-width: 100%;
  }

  .textContainer {
    max-width: 100%;
    padding: 0 10px;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardDescription {
    font-size: 0.9rem;
  }

  .btn {
    width: 100%;
    padding: 10px;
  }
}